.header {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;

    &--primary {
      top: 18%;
      font-size: 10rem;
      position: absolute;
    }

    &--secondary {
      top: 16%;
      font-size: 2rem;
      position: absolute;
    }
  }

  &__image {
    width: 100%;
    height: 45rem;
    margin-top: 8rem;
    object-fit: cover;
  }
}
